@import "../../sass/styles";

// ############ List Post #####################

.grid-container {
   display: grid;
   // grid-template-columns: repeat(auto-fit, minmax(260px, 400px));
   // grid-template-columns: 33% 33% 33%;
   grid-template-columns: repeat(auto-fit, minmax(25%, 32.6% ));
   grid-gap: 1em;
   margin-bottom: 50px;  // to see footer
}

a:link {
   text-decoration: none !important;
}

.deckStyle {
   @include box-shadow($cardShadowInitial);
}

.deckStyle:hover {
   @include transition(0.4s);
   @include box-shadow($cardShadowHover);
}

// ######### Post ############

.postCover {
   // background: $themeColor;
   background-image: url('../../bgimages/bg-1.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;

   color: $light;  // $light
   text-shadow: 2px 2px 5px black;
}

// ############# ViewPost ##############

.viewPost {
   overflow-wrap: break-word;
   margin-bottom: 50px;
}

.postTitle {
   // color: $primaryColor;
   color: white;
}

.footerStyle {
   // color: $subtitleColor;
   color: $lightgrey;
}

.card{
   background-color: #343A40;
}

.text-muted{
   color: white !important;
}

.textarea.form-control{
   height: 400px !important;
}